<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354674616260-jlkmfbkc5h8pnqlg6u1qpo8ftbrurl33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354674616260-jlkmfbkc5h8pnqlg6u1qpo8ftbrurl33</string>
	<key>API_KEY</key>
	<string>AIzaSyAAE6cmOr4142ouUO29JPniiiQn2CjyBVk</string>
	<key>GCM_SENDER_ID</key>
	<string>354674616260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devGram</string>
	<key>PROJECT_ID</key>
	<string>dev-gram-3c704</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-gram-3c704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354674616260:ios:9e0d2898d5469f1fe36691</string>
</dict>
</plist>